@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@uploadthing/react/styles.css";

@layer components {
  .field-input {
    @apply w-full rounded-2xl border border-white/10 bg-transparent px-4 py-3 text-sm text-white focus:outline-none focus:ring-2 focus:ring-white/40;
  }
}

